<!doctype html>
<html style="background-color: transparent; white-space-collapse: discard;">

<head>
    <meta charset="utf-8">

    <title>{page.title}</title>

    <link rel="stylesheet" href="resources/css/style.css">

    <meta property="og:title" content="{page.title}" />
    <meta property="og:site_name" content="http://www.youtube.com" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.youtube.com/2013ynet" />

    {#page.meta}
    <meta name="{name}" content="{content}">
    {/page.meta}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>