<!doctype html>
<html style="background-color: transparent;">

<head>
    <meta charset="utf-8">

    <title>{page.title}</title>

    <link rel="stylesheet" href="resources/css/style.css">

    <meta property="og:title" content="ערוץ הבחירות 2013" />
    <meta property="og:site_name" content="http://www.youtube.com" />
    <meta property="og:description" content="כל הסרטונים, העדכונים, הטרנדים, חדשות מהארץ ומהעולם, <br/>מידע על המפלגות, כל הנושאים הבוערים והתגובות שלכם <br/>עכשיו בערוץ הבחירות של Ynet ו-YouTube" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.youtube.com/2013ynet" />

    {#page.meta}
    <meta name="{name}" content="{content}">
    {/page.meta}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>