<ul>
    {@menu}
        {?.child}
            <li><a href="{?url}{url}{:else}?id={id}{/url}" {?dock}class="active"{/dock}>{title}<span class="before"></span><span class="after"></span></a>
                {?dock}
                <ul class="sub-menu">
                    {#child}
                    <li><a href="{url}">{title}</a></li>
                    {/child}
                </ul>
                {/dock}
            </li>
        {:else}
            <li><a href="{?url}{url}{:else}?id={id}{/url}" {?dock}class="active"{/dock}>{title}<span class="before"></span><span class="after"></span></a>
        {/child}
    {/menu}
</ul>