<!DOCTYPE html>
<html>
<head>
    {>"partials/head.html"/}
</head>
<body>
<div class="container">
    <div class="menu">
        {>"partials/timer.html"/}

        {>"partials/menu.html"/}
    </div>

    <div class="frame">
        <div class="top-frame">
            <ul>
                <li class="sprite-all-google-news"></li>
                <li class="news-ticker">
                    {>"partials/ticker.html"/}
                </li>
                <li class="sprite-all-youtube"></li>
                <li class="sprite-all-ynet"></li>
            </ul>
        </div>

        <div class="inner-frame">
            <h2>{config.election_channel_title}</h2>
            <div class="player">
            </div>

            <div class="gallery-container">
                <div class="gallery">
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>



{>"partials/scripts.html"/}

<script type="text/javascript">
    var channel = {channel|s|js};
</script>

<script type="text/javascript" src="resources/js/channel.js"></script>
</body>
</html>