{>"partials/header.html"/}
<body>
<div class="container">
    {>"partials/title.html"/}

    <div class="frame">
        <div class="top-frame">
            <ul>
                <li class="sprite-all-google-news"></li>
                <li class="news-ticker">
                    {>"partials/ticker.html"/}
                </li>
                <li class="sprite-all-youtube"></li>
                <li class="sprite-all-ynet"></li>
            </ul>
        </div>

        <div class="inner-frame">
            <div class="election-right">
                <h3>{config.election_channel_title}</h3>
                <p>{config.election_channel_description|s}</p>
            </div>
            <div class="election-left">
                <div class="player">
                    <iframe width="640" height="370" src="http://www.youtube.com/embed/{config.feature_video}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>



{>"partials/scripts.html"/}

</body>
{>"partials/footer.html"/}