{>"partials/header.html"/}
<body>
<div class="container">
    {>"partials/title.html"/}

    <div class="frame">
        <div class="top-frame">
            <ul>
                <li class="sprite-all-google-news"></li>
                <li class="news-ticker">
                    {>"partials/ticker.html"/}
                </li>
                <li class="sprite-all-youtube"></li>
                <li class="sprite-all-ynet"></li>
            </ul>
        </div>

        <div class="inner-frame">
            <div class="player">
                {?config.live_link}
                <iframe src="{config.live_link}" width="640" height="360" frameborder="0"></iframe>
                {:else}
                <img src="resources/css/images/24204_youtube_channel_150px_live.jpg">
                {/config.live_link}
            </div>
        </div>
    </div>
</div>

{>"partials/scripts.html"/}

{>"partials/footer.html"/}