{>"partials/header.html"/}
<body>
<div class="container">
    {>"partials/title.html"/}

    <div class="frame">
        <div class="top-frame">
            {>"partials/logos.html"/}
        </div>

        <div class="inner-frame">
            <div class="player">
                {?config.live_link}
                <iframe src="{config.live_link}" width="640" height="360" frameborder="0"></iframe>
                {:else}
                <img src="resources/css/images/24204_youtube_channel_150px_live.jpg">
                {/config.live_link}
            </div>
        </div>
    </div>
</div>

{>"partials/scripts.html"/}

{>"partials/footer.html"/}