{>"partials/header.html"/}
<body>
<div class="container">
    {>"partials/title.html"/}

    <div class="frame">
        <div class="top-frame">
            {>"partials/logos.html"/}
        </div>

        <div class="inner-frame">
            <div class="history-results">
                <h2>{config.prev_elections}</h2>
                <div class="map" id="map"></div>
            </div>
        </div>
    </div>
</div>

{>"partials/scripts.html"/}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="resources/js/map.js">
</script>

{>"partials/footer.html"/}