{>"views/partials/head.html"/}
<body>
<div class="container">
    {>"partials/title.html"/}

    <div class="frame">
        <div class="top-frame">
            <ul>
                <li class="sprite-all-google-news"></li>
                <li class="news-ticker">
                    {>"partials/ticker.html"/}
                </li>
                <li class="sprite-all-youtube"></li>
                <li class="sprite-all-ynet"></li>
            </ul>
        </div>

        <div class="inner-frame">

            <div class="parties">
                {@content}
                <ul>
                    {#items}
                    <li>
                        <img src="{@cloudinary path="picture" width="296" height="196" crop="pad"/}" alt="{title}">
                        <div class="hide">{text|s}</div>
                    </li>
                    {/items}
                </ul>
                {/content}

                <a class="parties-next sprite-all-nav-arrow-left" href="javascript:;"></a>
                <a class="parties-prev sprite-all-nav-arrow-right" href="javascript:;"></a>
            </div>

            <div class="party_text_holder">
                <h2>על המפלגה</h2>
                <div class="party_text"></div>
            </div>
        </div>
    </div>
</div>

{>"partials/scripts.html"/}
</body>
</html>