{>"partials/head.html"/}
<body>
<div class="container">
    {>"partials/title.html"/}

    <div class="frame">
        <div class="top-frame">
            <ul>
                <li class="sprite-all-google-news"></li>
                <li class="news-ticker">
                    {>"partials/ticker.html"/}
                </li>
                <li class="sprite-all-youtube"></li>
                <li class="sprite-all-ynet"></li>
            </ul>
        </div>

        <div class="inner-frame">
            <div class="player">
            </div>

            <div class="gallery-container">
                <div class="gallery">
                </div>

                <div class="clear"></div>

                <a class="gallery-prev sprite-all-nav-arrow-right" href="javascript:;"></a>
                <a class="gallery-next sprite-all-nav-arrow-left" href="javascript:;"></a>
            </div>
        </div>
    </div>
</div>



{>"partials/scripts.html"/}

<script type="text/javascript">
    var channel = {channel|s|js};
</script>

<script type="text/javascript" src="resources/js/channel.js"></script>
</body>
</html>