<!DOCTYPE html>
<html>
<head>
    {>"partials/head.html"/}
</head>
<body>
<div class="container">
    {>"partials/title.html"/}

    <div class="frame">
        <div class="top-frame">
            <ul>
                <li class="sprite-all-google-news"></li>
                <li class="news-ticker">
                    {>"partials/ticker.html"/}
                </li>
                <li class="sprite-all-youtube"></li>
                <li class="sprite-all-ynet"></li>
            </ul>
        </div>

        <div class="inner-frame">
            <div class="trends">
                <h3>{config.trends}</h3>
                <div class="trend">
                </div>


                <div class="trends-container">
                    <ul>
                        {@trends}
                        <li>
                            <a href="{@cloudinary path="picture" width="620" height="480" crop="fill" /}">
                            <img src="{@cloudinary path="picture" width="120" height="90" crop="thumb" /}" alt="">
                            <h2>{title}</h2>
                            </a>
                        </li>
                        {/trends}
                    </ul>

                    <div class="clear"></div>

                    <a class="trends-prev sprite-all-nav-arrow-right" href="javascript:;"></a>
                    <a class="trends-next sprite-all-nav-arrow-left" href="javascript:;"></a>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>

{>"partials/scripts.html"/}
<script type="text/javascript" src="resources/js/trends.js"></script>
</body>
</html>