{>"partials/header.html"/}
<body>
<div class="container">
    {>"partials/title.html"/}

    <div class="frame">
        <div class="top-frame">
            {>"partials/logos.html"/}
        </div>

        <div class="inner-frame">
            <div class="trends">
                <div class="trend-description">
                    <h3>{config.trends}</h3>

                    <p>{config.trends_description|s}</p>
                </div>

                <div class="trend">
                </div>


                <div class="trends-container">
                    <ul>
                    </ul>

                    <div class="clear"></div>

                    <a class="trends-prev sprite-all-nav-arrow-right" href="javascript:;"></a>
                    <a class="trends-next sprite-all-nav-arrow-left" href="javascript:;"></a>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</div>

{>"partials/scripts.html"/}
<script type="text/javascript" src="resources/js/jquery.cloudinary.js"></script>
<script type="text/javascript" src="resources/js/trends.js"></script>

{>"partials/footer.html"/}