<ul>
    {#items}
    <li>
        {?youtube_video_id}
        <a href="http://www.youtube.com/watch?v={youtube_video_id}" data-youtube="{youtube_video_id}">
            <img src="http://img.youtube.com/vi/{youtube_video_id}/2.jpg" alt="{title}">
        {:else}
        <a href="{uploader_link}" data-picture="{#picture}{public_id}.{format}{/picture}">
            <img src="{#picture}{url}{/picture}" alt="">
        {/youtube_video_id}
            <h2>{title}</h2>
            <div>by <b>{uploader}</b></div>
        </a>
    </li>
    {/items}
</ul>